

/*{
    background-image: radial-gradient(circle at 17%, #AFAFAF 0%, #585858 46%);
}*/
html, body {
    height: 100%;
    overflow: hidden;
}

/*p {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    left: 20%;
    line-height: 1em;
    position: absolute;
    top: 40%;
    left: 0%;

}*/


.zoe-zhang p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    line-height: 1em;
    -webkit-animation: fadein 10s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.zoe-zhang {
    height: 220px;
    position: relative;
    left: 10%;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#nav {
    position: absolute;
    bottom: 57px;
    right: 80px;
    z-index: 25;
}

#nav ul {
    width: 190px;
    height: 15px;
}

#nav li {
    float: left;

}

#nav li a {
    display: block;
    height: 25px;
    overflow:hidden;
    text-decoration:none;
    color: #B7B6B6;
}

#nav li.information a {
    width: 114px;
}

#nav li.information a:hover {
    text-decoration: underline;
    text-decoration-color: #BABABA;
}

#nav li.contact a {
    width: 63px;

}

#nav li.contact a:hover {
    text-decoration: underline;
    text-decoration-color: #BABABA;
}







/*.info-contact p {
    position: relative;
    top: 50%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #B7B6B6;
    
}

.info-contact {
    height: 50px;
    position: relative;
    left: 83%;
    top: 40%;

}*/





/*p.welcome {

    font-size: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #BABABA; 
    text-align: center;
    vertical-align: middle;

    -webkit-animation: fadein 10s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #BABABA;
}

p.me {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #BABABA;
    text-align: center;
    -webkit-animation: fadein 20s;
}*/


