@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Jura');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/imgs/gclandscape\ smaller.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#container {
    /* border: 4px solid white; */
    position: fixed;
    right: 15%;
    left: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.transparent-1 {
    /* border: 4px solid pink; */
    padding-top: 30px;
    padding-bottom: 30px;
    height: 15vh;
    width: 90%;
    /* font-family: 'Orbitron'; */
    font-family: 'Jura';
    font-size: 4vh;
    text-shadow: 0 0 8px cornflowerblue;
    text-align: left;
}

.transparent-1 a {
    text-decoration: none;
    color: #D8D8D8;
}

.transparent-1 a:hover {
    text-decoration: underline;
    text-decoration-color: #D8D8D8; 

}

.nontransparent {
    /* padding: 10px; */
    /* border: 4px solid red; */
    /* background: rgb(22, 25, 34); */
    width: 100%;
    background: linear-gradient(to bottom ,rgb(0,0,0,0.1), rgb(0,0,0,0.4));
    font-size: 2.5vh;
    line-height: 2em;
    font-family: 'Jura';
    border-radius: 3vh;
}

.nontransparent p {
    /* border: 4px solid red; */
    /* padding-top: 2.5vw; */
    text-align: justify;
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    color: #D8D8D8;
    text-shadow: 0 0 8px cornflowerblue;
}

.nontransparent a {
    /* border: 4px solid yellow; */
    text-align: justify;
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    font-size: 4vh;
    font-weight: 600;
    /* color: rgb(255, 187, 0); */
}

.gallery_container {
    /* border: 4px solid white; */
    /* padding-top: 2.5vw; */
    text-align: justify;
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    text-shadow: 0 0 8px cornflowerblue;
    font-size: 4vh;
    font-weight: 600;
}

.video_container {
    /* border: 4px solid blue; */
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
}

.nontransparent a {
    text-decoration: none;
    color: #D8D8D8;
}

.gallery_container a:hover {
    text-decoration: underline;
    text-decoration-color: #D8D8D8; 

}

.game_container a:hover {
    text-decoration-color: rgb(179, 71, 0);
    text-decoration: underline;

}

.transparent-2 {
    /* border: 4px solid orange; */
    position: relative;
    right: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 80px;
    height: 20vh;
    width: 90%;
    /* font-family: 'Orbitron'; */
    font-family: 'Jura';
    font-size: 3vh;
    text-shadow: 0 0 9px cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transparent-2 #contact {
    /* border: 4px solid green; */
    height: 5vh;
    padding: 10px;
}

#contact a {
    text-decoration: none;
    color: #D8D8D8;
}

#contact a:hover {
    text-decoration: underline;
    text-decoration-color: #D8D8D8;
    
}

#remains-l {
    /* border: 4px solid white; */
    position: fixed;
    left: 0%;
    right: 85%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(0, 0, 0, 0);
}

#remains-r {
    /* border: 4px solid white; */
    position: fixed;
    left: 85%;
    right: 0%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(0, 0, 0, 0);
}





/* 
::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}
#menu * {
    padding: 0;
    margin: 0;
    font: 14px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

#menu {
    position: absolute;
    bottom: 59px;
    right: 91px;
    float: left;
    line-height: 10px;
}

    #menu a {
        display: block;
        text-decoration: none;
        color: #A0A0A0;
    }

        #menu a:hover {
            text-decoration: underline;
            text-decoration-color: #A0A0A0;
        }

    #menu ul li ul li {
        width: 80px;
        border: none;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 3px;
    }

        #menu ul li ul li a {
            font: inherit;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #A0A0A0;
            text-decoration: none;
        }

    #menu ul li {
        float: left;
        width: 80px;
    }

        #menu ul li a {
            padding: 10px 10px;
        }

    #menu li {
        position: relative;
        float: left;
    }

    #menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul {
        display: none;
        list-style-type: none;
        width: 140px;
    }

    #menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul {
        display: block;
    }

        #menu:hover ul li:hover ul li:hover ul {
            position: absolute;
            margin-left: 145px;
            margin-top: -22px;
            font: 10px;
        }

        #menu:hover ul li:hover ul {
            position: absolute;
            margin-top: 1px;
            font: 10px;
            bottom: 100%;
        }

#box * {
        padding: 0;
        margin: 0;
    }

    #box {
    overflow:scroll;
    position: absolute;
    top: 17vh;
    left: 10vw;
    right: 33vw;
    bottom: 17vh;
    line-height: 1.5em;
    padding-right: 1%;
    }

        #box p.zoe {
            font-size: 22px;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            color: #101010;
            text-align: justify;
            -webkit-animation: fadein 2s;
            line-height: 1.5em;

        }

        #box p.cite {
            padding-top: 40px;
            padding-bottom: 30px;
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            color: #1D1D1D;
            text-align: right;
            -webkit-animation: fadein 4s;
        }

        #box p.biopolitics {
            padding-top: 220px;
            font-size: 18px;
            font-family: Kaiti TC;
            color: #101010;
            text-align: justify;
            -webkit-animation: fadein 2s;
            line-height: 2em;
        }

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.bg {
    background-color: #585858;
}

       
 */
