@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Jura');


* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url(../assets/imgs/gclandscape\ copy.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
}

/* navigation */
.wrapper {
    /* border: 1px solid white; */
    position: fixed;
    left: 3%;
    top: 30%;

}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.left a {
    /* border: 1px solid yellow; */
    font-family: "Orbitron";
    font-size: 5vh;
    height: 9%;
    text-decoration: none;
    color: #D0d0D0;
    text-shadow: 0 0 9px cornflowerblue;
}


.right {
    margin-left: 1.5vw;
    /* border: 1px solid red; */
    font-size: 1.5vw;
    height: 40vh;
    width: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
} 

.map {
    /* border: 1px solid white; */
    width: 12vw;
    text-align: center;
    right: 0;
    left: 0;
    display: block;
    overflow: hidden; 
    text-decoration: none;
    color: #D0d0D0;
    text-shadow: 0 0 9px cornflowerblue;
    font-family: "Orbitron";
} 


.map:hover {
    text-decoration-color: #D0D0D0;
    text-decoration: underline;
}

.map a {
    /* border: 1px solid white; */
    width: 12vw;
    text-align: center;
    right: 0;
    left: 0;
    display: block;
    overflow: hidden; 
    text-decoration: none;
    color: #D0d0D0;
    text-shadow: 0 0 9px cornflowerblue;
    font-family: "Orbitron";
} 

.map a:hover {
    text-decoration-color: #D0D0D0;
    text-decoration: underline;
}
/* navigation */


/* .imgcontainer {
    border: 1px solid white;
    position: fixed;
    left: 20%;
    right: 10%;

} */

.gallery {
    /* border: 1px solid white; */
    position: fixed;
    top: 6%;
    left: 20%;
    right: 10%;
    height: 90%;
    overflow: scroll;
}

.row {
    /* border: 1px solid red; */
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.item {
    /* border: 1px solid blue; */
    height: 8.1vw;
    width: 14.4vw;
    margin-right: 0.6vw;
    margin-left: 0.6vw;
    position: relative;
    display: inline-block;
    opacity: 0.7;
}

.item:hover {
	opacity: 1;
	transition: 0.2s;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    max-width:100%;
    max-height:100%;
}


#left, #right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 3;
	padding: 20px;
	font-size: 3vw;
    color: white;
    text-shadow: 0 0 9px cornflowerblue;
    font-family: "Orbitron";
}

#left {
	left: calc(50% - 42vw);
}

#right {
	right: calc(50% - 42vw);
}

#close {
	color: white;
	font: 2vw arial, sans-serif;
  	position: absolute;
	right: 20px;
    text-decoration: none;
    text-shadow: 0 0 9px cornflowerblue;
    font-family: "Orbitron";
	top: 20px;
	z-index: 3;
}

#overlay {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	top: 0px;
	left: 0px;
}

#carousel-container {
	position: absolute;
	/* border: 1px solid yellow; */
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	/* background-color: grey; */
	height: 40.5vw;
	width: 72vw;
	overflow: hidden;
}

#carousel-strip {
	transition: 0.4s;
	/* border: 1px solid blue; */
	position: absolute;
	left: 0;
	display: flex;
}

.carousel-section {
	/* YOUR CODE HERE */
	/* border: 1px solid red; */
	position: relative;
	height: 40.5vw;
	width: 72vw;
}

.carousel-section img {
	width: 72vw;
}
/* .gallery {
    position: fixed;
    border: 1px solid white;
    bottom: 10%;
    top: 75%;
    left: 20%;
    right: 10%;

} */


